<a href="https://colab.research.google.com/github/ha0himanshuarora/demographic-data-analyzer/blob/main/demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install ucimlrepo

Collecting ucimlrepo
  Downloading ucimlrepo-0.0.7-py3-none-any.whl.metadata (5.5 kB)
Requirement already satisfied: pandas>=1.0.0 in /usr/local/lib/python3.11/dist-packages (from ucimlrepo) (2.2.2)
Requirement already satisfied: certifi>=2020.12.5 in /usr/local/lib/python3.11/dist-packages (from ucimlrepo) (2025.6.15)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.0.0->ucimlrepo) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.0.0->ucimlrepo) (1.17.0)
Downloading ucimlrepo-0.0.7-py3-none-any.whl (8.0 kB)
Installing collected packages: ucimlrepo
Successfully installed ucimlrepo-0.0.7

In [2]:
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [3]:
adult=fetch_ucirepo(id=2)

In [4]:
x=adult.data.features
print(x)

       age         workclass  ...  hours-per-week native-country
0       39         State-gov  ...              40  United-States
1       50  Self-emp-not-inc  ...              13  United-States
2       38           Private  ...              40  United-States
3       53           Private  ...              40  United-States
4       28           Private  ...              40           Cuba
...    ...               ...  ...             ...            ...
48837   39           Private  ...              36  United-States
48838   64               NaN  ...              40  United-States
48839   38           Private  ...              50  United-States
48840   44           Private  ...              40  United-States
48841   35      Self-emp-inc  ...              60  United-States

[48842 rows x 14 columns]

In [5]:
y=adult.data.targets
print(y)

       income
0       <=50K
1       <=50K
2       <=50K
3       <=50K
4       <=50K
...       ...
48837  <=50K.
48838  <=50K.
48839  <=50K.
48840  <=50K.
48841   >50K.

[48842 rows x 1 columns]

In [6]:
df=pd.concat([x,y],axis=1)

In [7]:
print(df)

       age         workclass  fnlwgt  ... hours-per-week  native-country  income
0       39         State-gov   77516  ...             40   United-States   <=50K
1       50  Self-emp-not-inc   83311  ...             13   United-States   <=50K
2       38           Private  215646  ...             40   United-States   <=50K
3       53           Private  234721  ...             40   United-States   <=50K
4       28           Private  338409  ...             40            Cuba   <=50K
...    ...               ...     ...  ...            ...             ...     ...
48837   39           Private  215419  ...             36   United-States  <=50K.
48838   64               NaN  321403  ...             40   United-States  <=50K.
48839   38           Private  374983  ...             50   United-States  <=50K.
48840   44           Private   83891  ...             40   United-States  <=50K.
48841   35      Self-emp-inc  182148  ...             60   United-States   >50K.

[48842 rows x 15 columns]

In [9]:
race_count=df['race'].value_counts()

In [10]:
print(race_count)

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

In [21]:
average_age_men=round(df[df['sex']=='Male']['age'].mean(),1)

In [22]:
print(average_age_men)

39.5

In [23]:
total_count=len(df)

In [26]:
bachelors_count=len(df[df['education']=='Bachelors'])
percentage_bachelors=round((bachelors_count/total_count)*100,1)
print(percentage_bachelors)

16.4

In [36]:
advanced=df['education'].isin(['Bachelors','Masters','Doctrate'])
higher_edu=df[advanced]
lower_edu=df[~advanced]
percentage_higher=round(len(higher_edu[higher_edu['income']=='>50K'])/len(higher_edu)*100,1)
print(percentage_higher)

29.8

In [38]:
percentage_lower=round(len(lower_edu[lower_edu['income']=='>50K'])/len(lower_edu)*100,1)
print(percentage_lower)

12.2

In [39]:
min_work_hours=df['hours-per-week'].min()
print(min_work_hours)

1

In [40]:
min_workers=df[df['hours-per-week']==min_work_hours]
rich_min_workers=min_workers[min_workers['income']=='>50K']
rich_percentage=round(len(rich_min_workers)/len(min_workers)*100,1)
print(rich_percentage)

7.4

In [47]:
country_counts=df['native-country'].value_counts()
rich_country_counts=df[df['income']=='>50K']['native-country'].value_counts()
rich_percentage=round((rich_country_counts/country_counts)*100,1)
highest_earning_country=rich_percentage.idxmax()
print(highest_earning_country)

France

In [48]:
india_rich=df[(df['native-country']=='India')&(df['income']=='>50K')]
top_IN_occupation=india_rich['occupation'].value_counts().idxmax()
print(top_IN_occupation)

Prof-specialty

**All results**

In [49]:
print(race_count)
print(average_age_men)
print(percentage_bachelors)
print(percentage_higher)
print(percentage_lower)
print(min_work_hours)
print(rich_percentage)
print(highest_earning_country)
print(top_IN_occupation)

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64
39.5
16.4
29.8
12.2
1
native-country
?                             25.0
Cambodia                      25.0
Canada                        21.4
China                         16.4
Columbia                       2.4
Cuba                          18.1
Dominican-Republic             1.9
Ecuador                        8.9
El-Salvador                    5.8
England                       23.6
France                        31.6
Germany                       21.4
Greece                        16.3
Guatemala                      3.4
Haiti                          5.3
Holand-Netherlands             NaN
Honduras                       5.0
Hong                          20.0
Hungary                       15.8
India                         26.5
Iran                          30.5
Ireland                       13.5
Italy                         23.8
Jamaica                        9.4
Japan                         26.1
Laos                           8.7
Mexico                         3.5
Nicaragua                      4.1
Outlying-US(Guam-USVI-etc)     NaN
Peru                           4.3
Philippines                   20.7
Poland                        13.8
Portugal                       6.0
Puerto-Rico                    6.5
Scotland                      14.3
South                         13.9
Taiwan                        30.8
Thailand                      10.0
Trinadad&Tobago                7.4
United-States                 16.4
Vietnam                        5.8
Yugoslavia                    26.1
Name: count, dtype: float64
France
Prof-specialty